<a href="https://colab.research.google.com/github/rhudaina/Linear-Systems-and-Applications-A-Hands-On-Python-Workshop/blob/main/Day3/Day3_Lecture_1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

[Pandas](https://pandas.pydata.org/) is a Python package for tabular data.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.__version__

## Overview

Pandas provides a `DataFrame` object, which is used to hold tables of data (the name `DataFrame` comes from a [similar object in R](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/data.frame)).  The primary difference compared to a NumPy `ndarray` is that you can easily handle different data types in each column.

### Difference between a DataFrame and NumPy Array

Pandas DataFrames and NumPy arrays both have similarities to Python lists.  
* Numpy arrays are designed to contain data of one type (e.g. Int, Float, ...)
* DataFrames can contain different types of data (Int, Float, String, ...)
    * Usually each column has the same type
    
    
Both arrays and DataFrames are optimized for storage/performance beyond Python lists

Pandas is also powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

### Key Features

* File I/O - integrations with multiple file formats
* Working with missing data (.dropna(), pd.isnull())
* Normal table operations: merging and joining, groupby functionality, reshaping via stack, and pivot_tables,
* Time series-specific functionality:
    * date range generation and frequency conversion, moving window statistics/regressions, date shifting and lagging, etc.
* Built in Matplotlib integration

### Other Strengths

* Strong community, support, and documentation
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects Intelligent label-based slicing, fancy indexing, and subsetting of large data sets

### Python/Pandas vs. R

* R is a language dedicated to statistics. Python is a general-purpose language with statistics modules.
* R has more statistical analysis features than Python, and specialized syntaxes.

However, when it comes to building complex analysis pipelines that mix statistics with e.g. image analysis, text mining, or control of a physical experiment, the richness of Python is an invaluable asset.

### Objects and Basic Creation

| Name | Dimensions | Description  |
| ------:| -----------:|----------|
| ```pd.Series``` | 1 | 1D labeled homogeneously-typed array |
| ```pd.DataFrame```  | 2| General 2D labeled, size-mutable tabular structure |
| ```pd.Panel``` | 3|  General 3D labeled, also size-mutable array |

### Get Started
We'll load the Titanic data set, which is part of seaborn's example data.  It contains information about 891 passengers on the infamous [Titanic](https://en.wikipedia.org/wiki/Titanic)

See the [Pandas tutorial on reading/writing data](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html) for more information.

In [ ]:
titanic = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
df = titanic
df

We see that there are a variety of columns.  Some contain numeric values, some contain strings, some contain booleans, etc.

If you want to access a particular column, you can create a `Series` using the column title.

In [ ]:
ages = df["age"] # __getitem__
ages

Column titles are also treated as object attributes:

In [ ]:
ages = df.age
ages

Pandas `DataFrames` and `Series` have a variety of built-in methods to examine data

In [ ]:
print(ages.max())
print(ages.min())
print(ages.mean())
print(ages.median())

You can display a variety of statistics using `describe()`.  Note that `NaN` values are simply ignored.

In [ ]:
ages.describe()

Depending on the type of data held in the series, `describe` has different functionality.

In [ ]:
df['sex'].describe()

You can find some more discussion in the Pandas tutorial [here](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)

### Selecting Subsets of DataFrames

You can select multiple columns

In [ ]:
df2 = df[["age", "survived"]]
df2

If you want to select certain rows, using some sort of criteria, you can create a series of booleans

In [ ]:
mask = df2['age'] > 30
df2[mask]

We see that we only have 305 rows now

If you just want to access specific rows, you can use `iloc`

In [ ]:
df.iloc[:4]

### Aside: Attributes

Recall that you can access columns of a `DataFrame` using attributes:

In [ ]:
df.age

## Missing data

In data analysis, knowing how to properly fill in missing data is very important, sometimes we don't want to just ignore them, especially when the observational numbers are small. There are various ways to do it such as filling with the mean, K-Nearest Neighbors (KNN) methods and so on.

Suppose we are trying to replace missing values in age column as its mean from titanic dataset.

In [ ]:
titanic = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")
titanic.head()

In [ ]:
ages = titanic["age"]
ages

In [ ]:
ageMean = ages.mean()
titanic["age"] = ages.fillna(ageMean)
titanic["age"]

## Data Frames

- a `DataFrame` is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.
- You can create a DataFrame from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
``` python
df = pd.DataFrame(data, index = index, columns = columns)
```
- ```index```/ ``` columns ``` is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

Documentation: [**pandas.DataFrame**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

### Indexing and Selection

4 methods ``` [], ix, iloc, loc ```

| Operation  | Syntax       | Result |
|----|----------------------| ---------------------------|
| Select Column | df[col]   |    Series                      |
| Select Row by Label | df.loc[label] | Series  |
| Select Row by Integer Location | df.iloc[idx] |      Series                    |
| Slice rows | df[5:10]        |                        DataFrame  |
| Select rows by boolean | df[mask]   | DataFrame        |

Note all the operations below are valid on series as well restricted to one dimension

Indexing using `[]`

- Series: selecting a label: s[label]
- DataFrame: selection single or multiple columns:
```python
df['col'] or df[['col1', 'col2']]
```
- DataFrame: slicing the rows:
```python
df['rowlabel1': 'rowlabel2']
```
or
```python
df[boolean_mask]
```

Lets create a data frame

In [ ]:
import numpy as np
pd.options.display.max_rows = 4
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

You can access column  A:

In [ ]:
df['A']

You can access all rows, columns A, B:

In [ ]:
df.loc[:,"A":"B"]

You can access multiple columns:

In [ ]:
df[['A', 'B']]

You can slice by rows

In [ ]:
df['2000-01-01': '2000-01-04']

You can use boolean mask to slice

In [ ]:
df[df['A'] > df['B']]

You can assign values via `[]`

In [ ]:
df['A'] = df['B'].values
df

Selecting by label: `.loc`

- is primarily label based, but may also be used with a boolean array.
- .loc will raise KeyError when the items are not found
- Allowed inputs:
    1. A single label
    2. A list of labels
    3. A boolean array

In [ ]:
df.loc['2000-01-01']

In [ ]:
df.loc[:, 'A':'C']

You can get columns for which value is greater than 0 on certain day, get all rows

In [ ]:
df.loc[:, df.loc['2000-01-01'] > 0]

Selecting by position: `iloc`

- The .iloc attribute is the primary access method. The following are valid input:
    - An integer
    - A list of integers
    - A slice
    - A boolean array

In [ ]:
df1 = pd.DataFrame(np.random.randn(6,4), index=list(range(0,12,2)), columns=list(range(0,12,3)))
df1

You can select specific rows:

In [ ]:
df1.iloc[:3]

You can select by specifying rows and columns

In [ ]:
df1.iloc[1:5, 2:4]

You can select by integer list:

In [ ]:
df1.iloc[[1,3,5], [1,3]]

You can select via integer mask

In [ ]:
boolean_mask = df1.iloc[:, 1] > 0.0
df1.iloc[boolean_mask.values,1]

## Plotting

`DataFrames` and `Series` have a variety of built-in plotting methods:

Let's take a look at the [Iris data set](https://archive.ics.uci.edu/ml/datasets/Iris)

1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
-- Iris Setosa
-- Iris Versicolour
-- Iris Virginica

In [ ]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",
      names=["sepal length", "sepal width", "petal length", "petal width", "class"])
iris

In [ ]:
iris.plot()
plt.show()

In [ ]:
# Titanic DataSet
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

df.age.plot()
plt.show()

`plot` just plots the value by index, and doesn't make a lot of sense unless the index means something (like time).  In this case, a histogram makes more sense:

In [ ]:
df.age.hist()
plt.show()

We can also create scatter plots of two columns

In [ ]:
df.plot.scatter(x='age', y='fare', alpha=0.5)
plt.show()

You can also create box plots

In [ ]:
df.age.plot.box()
plt.show()

## Summary Statistics

Basic summary statistics are built into Pandas.  These are easy to compute on columns/series

In [ ]:
print(df.age.mean())
print(df.age.median())

You can also compute statistics on multiple (or all columns)

In [ ]:
df[['age', 'fare']].mean()

You can also compute statistics grouping by category

In [ ]:
df[['age', 'sex']].groupby('sex').mean()

You can count how many records are in each category for categorical variables

In [ ]:
df['pclass'].value_counts()

In [ ]:
df.groupby('sex')['pclass'].value_counts()

## Table Manipulation

You can sort tables by a column value:

In [ ]:
df.sort_values(by='age')[:10]

You can also sort by a primary key and secondary key

In [ ]:
df.sort_values(by=['pclass', 'age'])[:600]

### Pivot Tables

Say you want the mean age for each sex grouped by class.  We can create a [pivot table](https://pandas.pydata.org/docs/getting_started/intro_tutorials/07_reshape_table_layout.html#pivot-table) to display the data:

In [ ]:
titanic.pivot_table(values="age", index="sex", columns="pclass", aggfunc="mean")

you can change the aggregation function to compute other statistics

In [ ]:
titanic.pivot_table(values="age", index="sex", columns="pclass", aggfunc="median")

### Merging DataFrames

- Pandas has full-featured, very high performance, in memory join operations that are very similar to SQL and R

- The documentation is https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

- Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects:
```python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)
```

In [ ]:
# Example of merge
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [4, 2]})
right = pd.DataFrame({'key': ['bar', 'zoo'], 'rval': [4, 5]})

print("left: ",left,"right: ",right, sep=end_string)

In [ ]:
merged = pd.merge(left, right, how="inner")
print(merged)

In [ ]:
merged = pd.merge(left, right, how="outer")
print(merged)

In [ ]:
merged = pd.merge(left, right, how="left")
print(merged)

In [ ]:
merged = pd.merge(left, right, how="right")
print(merged)

### Functions

 Row or Column-wise Function Application: Applies function along input axis of DataFrame
```python
df.apply(func, axis = 0)
```

Elementwise: apply the function to every element in the df
```python
df.applymap(func)
```

- Note, ``` applymap ``` is equivalent to the ``` map ``` function on lists.
- Note, ``` Series ``` objects support ``` .map ``` instead of ``` applymap ```

In [ ]:
df1 = pd.DataFrame(np.random.randn(6,4), index=list(range(0,12,2)), columns=list('abcd'))
df1

In [ ]:
A = np.random.randn(6,4)
print(np.mean(A, axis=0))
print(A[0])

In [ ]:
print(np.mean(A, axis=1))
print(A[:,0])

Apply to each column

In [ ]:
df1.apply(np.mean, axis=0)

Apply to each row

In [ ]:
df1.apply(np.mean, axis=1)

Use lambda functions  to normalize columns

In [ ]:
df1.apply(lambda x: (x - x.mean())/ x.std(), axis = 0)

In [ ]:
df1.applymap(np.exp)

**Bibliography** - this notebook used content from some of the following sources:
* [CME 193 (Stanford)](https://github.com/icme/cme193)
* [Pandas Tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)

# Reference

1.   [Brad Nelson (2021), Scientific Computing with Python](https://caam37830.github.io/book/index.html)
2.   [Krishna et al. (2022) Introduction to Data Science with Python](https://nustat.github.io/DataScience_Intro_python/Introduction%20to%20Python%20and%20Jupyter%20Notebooks.html)
3. [Serafina Di Gioia (2024), Python 101, SMR 3935](https://indico.ictp.it/event/10473)