<a href="https://colab.research.google.com/github/rhudaina/Linear-Systems-and-Applications-A-Hands-On-Python-Workshop/blob/main/Day3/Day_3_Hands_on_Activity_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

#### 1. Consider the dataset given by dataframe `df` below, print the last two rows of columns A and D.

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

                   A         B         C         D
2000-01-01  0.866664  0.457105 -0.881644  1.585958
2000-01-02 -0.105639 -0.521734  0.046334 -0.514542
2000-01-03 -0.120435  1.288745  0.896204 -0.186100
2000-01-04 -0.563201 -0.717717  0.760753 -0.278120
2000-01-05 -0.335368 -0.273205 -0.056628 -0.004214
2000-01-06  1.312981  0.389759 -0.231788  1.980237
2000-01-07 -0.480462  1.490137 -0.947301 -1.412657
2000-01-08  0.692711  0.322739 -0.360111 -0.581186

#### 2. Print the last three rows of `df` such that `column A > column B`

#### 3. Consider the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). Display the first 25 entries.

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

#### 4. Display the last 10 entries

#### 5. How many samples (rows) are in the dataset?

#### 6. How many features (columns) are in the dataset?

#### 7. Print the name of all the columns.

#### 8. Print the data type of each column.

#### 9. Print only the occupation column

#### 10. How many different occupations are in this dataset?

#### 11. What is the most frequent occupation?

#### 12. Generate descriptive statistics of all numerical features.

#### 13. Generate descriptive statistics of the entire dataset (including non-numeric data)

#### 14. Generate descriptive statistics for `occupation` only

#### 15. What is the mean age of users?

#### 16. What is the age with least occurrence?

#### 17. What is the mean age per occupation?

#### 18. For each occupation, calculate the minimum and maximum ages.

#### 19. For each combination of occupation and gender, calculate the mean age.

#### 20. For each occupation, print the percentage of women and men.

Source: <https://github.com/guipsamora/pandas_exercises>